<div class="modal fade" id="modal-aviso-cookies" tabindex="-1" role="dialog" aria-labelledby="Política de cookies" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title text-center">Política de cookies</h3>
      </div>

      <div class="modal-body text-center">
        <p>Este sitio web usa cookies propias y de terceros para mejorar nuestros servicios y recoger información sobre su navegación.</p>

        <p>Si pulsa <span class="rosa">aceptar</span> o continua navegando consideraremos que admite el uso e instalación en su equipo o dispositivo.</p>

        <p>Encontrará más información en nuestra <a href="{{ path ('politica_de_cookies') }}">política de cookies.</a></p>

        <button class="btn btn-sm" type="button" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>