{% extends '::base.html.twig' %}

{% block contenido %}
<section>
	<header>
		<h1>Pol&iacute;tica de devoluci&oacute;n</h1>
	</header>

	<h2>Importante</h2>

	<p>Una vez pagado el vestido tienes <span class="rosa">7 días</span> para cambiar de opinión y se realizará la devolución totaldel importe.</p>

	<p>
		Pasada esta fecha (el traje ya esta en fase de corte en nuestro taller), se realizará solo la devolución del 65% del importe (50% en el caso de trajes ya confeccionados)
	</p>

	<p>
		Los trajes entregados deben ser devueltos a nuesta dirección con los portes pagados, tras lo cual se realizará la devolución del 45% del total del vestido.
	</p>

	<p>Las devoluciones se realizarán de la misma forma que fue realizado el pago con sus respectivos costes( 2€ por Paypal y 2,5€ por transferencia bancaria)</p>
</section>
{% endblock %}