{% extends '::base.html.twig' %}

{% block contenido %}
<section>
	<header>
		<h1>Política de cookies</h1>
	</header>

	<p>Le ofrecemos la siguiente información en cumplimiento de las obligaciones previstas en el apartado segundo del articulo 22 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, tras su modificación por el Real Decreto- ley 13/2012, de 30 de marzo.</p>

	<br />
	<h2>¿Qué son las cookies?</h2>

	<p>Una cookie es un fichero que se descarga en el ordenador/smartphone/tablet del usuario al acceder a determinadas páginas web para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo.</p>

	<p>Son herramientas que tienen un papel esencial para la prestación de numerosos servicios de la sociedad de la información. Entre otros, permiten a una página web almacenar y recuperar información anónima sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información obtenida, se pueden utilizar para reconocer al usuario y mejorar el servicio ofrecido.</p>

	<br />
	<h2>¿Qué tipos de cookies utiliza esta web?</h2>

	<h3>Cookies técnicas:</h3>

	<p>Son estrictamente necesarias para la navegación y prestación de determinados servicios que pueda solicitar expresamente el usuario. Si se desactivan estas cookies es posible que no pueda recibir correctamente nuestros contenidos y servicios.</p>

	<p>El uso de estas cookies tienen como finalidad, por ejemplo, utilizar elementos de seguridad durante la navegación, controlar el tráfico y la comunicación de datos, identificar la sesión, aceptar el acceso a áreas restringidas, realizar la solicitud de inscripción o participación en un evento, almacenar contenidos para la difusión de videos o sonido, compartir contenidos a través de redes sociales, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido.</p>

	<br />
	<h3>Cookies de personalización:</h3>

	<p>Permiten al usuario acceder al servicio con algunas características generales predefinidas en función de una serie de criterios en el terminal del usuario como serían, por ejemplo, el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede, etc.</p>

	<br />
	<h3>Cookies analíticas:</h3>

	<p>Estas cookies solo se genera en la visita y permiten identificar de forma anónima al visitante. Su finalidad es identificar navegadores y dispositivos, no personas, y por lo tanto la contabilización aproximada del número de visitantes y su tendencia en el tiempo. También se identifican de forma anónima los contenidos más visitados y atractivos para los usuarios, el tiempo de navegación, así como saber si el usuario que está accediendo es nuevo o repite visita.</p>

	<p>Le informamos que Google ha desarrollado un complemento de inhabilitación de las cookies de Google Analytics para los navegadores más habituales que facilita la exclusión de la instalación de estas cookies. Puede obtener más información, visitando este enlace externo: <a href="https://tools.google.com/dlpage/gaoptout?hl=es" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=es</a></p>

	<br />
	<h2>Cookies propias:</h2>

	<ul>
		<li>Técnicas</li>
		<li>Personalización</li>
	</ul>

	<br />
	<h2>Cookies de terceros:</h2>

	<p>Google Analytics (Analíticas) <a href="http://www.google.es/intl/es/analytics/privacyoverview.html" target="_blank">ver detalles</a></p>

	<br />
	<h2>Desactivación de cookies</h2>

	<p>Si usted acepta la utilización de cookies en el banner emergente, continúa navegando o hace clic en algún link se entenderá que usted ha consentido nuestra política de cookies y por tanto la instalación de las mismas en su equipo o dispositivo.</p>

	<p>El usuario podrá en cualquier momento cambiar la configuración y permisos, eligiendo qué cookies quiere que funcionen en este sitio web mediante la configuración de su navegador:</p>

	<ul>
		<li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Chrome</a></li>
		<li><a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-10" target="_blank">Explorer</a></li>
		<li><a href="http://support.mozilla.org/es/kb/Borrar cookies" target="_blank">Firefox</a></li>
		<li><a href="http://www.apple.com/es/privacy/use-of-cookies/" target="_blank">Safari</a></li>
	</ul>

	<br />
	<h2>Actualizaciones de la política de cookies</h2>

	<p>Es posible que se realicen actualizaciones de la Política de Cookies de nuestra web, por ello le recomendamos que revise periódicamente esta política con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies.</p>
</section>
{% endblock %}