{% extends '::base.html.twig' %}

{% block contenido %}
<section>
	<header>
		<h1>Error 404</h1>
	</header>

	<p>
		La página solicitada no existe o no se encuentra disponible en estos momentos.
		<br>
		Disculpe las molestias
	</p>

	<p>Volver a la <a href="/">página de inicio</a>.</p>
</section>
{% endblock %}