<aside class="menu-cesta">
    <header>
        <h2>Cesta&nbsp;de&nbsp;la&nbsp;compra</h2>
    </header>

    <section>
        <header>
            <h3 class="total-articulos">Total de art&iacute;culos</h3>
        </header>

        <article class="media">
            <a class="pull-left" href="/">
                <img class="media-object" src="http://ximg.es/60x80/000/fff" alt="...">
            </a>

            <div class="media-body">
                <header>
                    <h4><a href="">Articulo weiufhgwefu weiuf iuewf</a></h4>
                </header>

                <p class="precio">625&nbsp;&euro;</p>
            </div>
        </article>

        <p class="total">Total:&nbsp;625&euro;</p>
    </section>

    <p class="administrar-cesta"><a href="/">Administrar&nbsp;cesta</a></p>
    <p class="procesar-pedido"><a href="/">Procesar&nbsp;pedido</a></p>
</aside>